








 

		<div class="footer">
	<% @bettingfooterpromos.each do |bettingfooterpromo| %>
					<li>
						
						<div class="footerpromo">
						
						<%= bettingfooterpromo.bookie %>
						£<%= bettingfooterpromo.offerprice %>
						- <%= link_to "Get Offer", bettingfooterpromo.offerlink %>
					</li>
						
 <%end%>